[Desktop Entry]
Type=Application
Version=1.0
Name=Install FBP OS
GenericName=FBP OS Installer
Comment=Install FBP OS in your computer
Exec=/usr/bin/calamares_polkit %f
Icon=calamares
Terminal=false
StartupNotify=true
Type=Application
Categories=Qt;System;
